* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #001e4d, #004080);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.app {
    background-color: #fff;
    width: 90%;
    max-width: 600px;
    margin-top: 50px;
    border-radius: 15px;
    padding: 40px 20px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.app h1 {
    font-size: 32px;
    color: #001e4d;
    font-weight: 700;
    margin-bottom: 30px;
}

.quiz h2 {
    font-size: 22px;
    color: #001e4d;
    font-weight: 600;
    margin-bottom: 20px;
}

.btn-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
}

.btn {
    background-color: #f0f0f0;
    color: #001e4d;
    font-weight: 600;
    width: 100%;
    border: 2px solid #001e4d;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
}

.btn:hover {
    background-color: #001e4d;
    color: #fff;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

#next-btn {
    background-color: #001e4d;
    color: #fff;
    font-weight: 600;
    width: 160px;
    border: 0;
    padding: 12px;
    margin: 20px auto 0;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
}

#next-btn:hover {
    background-color: #004080;
}

.correct {
    background-color: #9aeabc;
}

.incorrect {
    background-color: #ff9393;
}